<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drawbluecup.mapper.FavoriteMapper">

    <resultMap id="FavoriteWithProduct" type="com.drawbluecup.entity.Favorite">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="productId" column="product_id"/>
        <result property="createTime" column="create_time"/>
        <association property="product" javaType="com.drawbluecup.entity.Product">
            <id property="id" column="p_id"/>
            <result property="name" column="p_name"/>
        </association>
    </resultMap>

    <select id="findByUserId" parameterType="int" resultMap="FavoriteWithProduct">
        SELECT f.id,
               f.user_id,
               f.product_id,
               f.create_time,
               p.id   AS p_id,
               p.name AS p_name
        FROM favorite f
                 JOIN product p ON p.id = f.product_id
        WHERE f.user_id = #{userId}
        ORDER BY f.create_time DESC
    </select>

    <select id="findOne" resultMap="FavoriteWithProduct">
        SELECT f.id,
               f.user_id,
               f.product_id,
               f.create_time,
               p.id   AS p_id,
               p.name AS p_name
        FROM favorite f
                 JOIN product p ON p.id = f.product_id
        WHERE f.user_id = #{userId}
          AND f.product_id = #{productId}
        LIMIT 1
    </select>

    <insert id="insert" parameterType="com.drawbluecup.entity.Favorite">
        INSERT INTO favorite (user_id, product_id, create_time)
        VALUES (#{userId}, #{productId}, NOW())
    </insert>

    <delete id="delete">
        DELETE FROM favorite
        WHERE user_id = #{userId}
          AND product_id = #{productId}
    </delete>
</mapper>


