<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drawbluecup.mapper.OrderMapper">
    <select id="findByUserId" resultType="com.drawbluecup.entity.Order">
        <!--根据id(订单外键user_id)查询订单,由于外键多为重复性,所以一般在服务层搭配主表一起输出-->
        select * from `order` where user_id = #{userId}
    </select>

    <select
            id="findByOrderNo"
            resultType="com.drawbluecup.entity.Order"
    >
        <!--根据订单编号(唯一性)查询订单-->
        SELECT * FROM `order` where order_no = #{orderNo}
    </select>

    <select
            id="findByOrderId"
            resultType="com.drawbluecup.entity.Order"
    >
        <!--根据订单id查询订单-->
        SELECT * FROM `order` where id = #{id}
    </select>


    <select
            id="findOrderAll"
            resultType="com.drawbluecup.entity.Order"
    >
        <!--查询所有订单-->
        SELECT * FROM `order`
    </select>




    <delete
            id="deleteOrderAll"
    >
        <!--删除所有订单-->
        delete from `order`
    </delete>


    <insert id="addOrder"
            parameterType="com.drawbluecup.entity.Order"
    >
        <!--新增订单-->
        INSERT INTO `order` (order_no,user_id,create_time) values (#{orderNo}, #{userId},NOW())
    </insert>


</mapper>


